.aboutUsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.aboutUsImage {
    flex: 1 1 45rem;
}

.aboutUsContent {
    flex: 1 1 45rem;
}

.img {
    width: 100%;
}

.aboutUsContent h3 {
    color: var(--black);
    font-size: 4rem;
    padding: .5rem 0;
}

.aboutUsContent p {
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 0;
    line-height: 1.8;
}

.aboutUsContent .iconsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 0;
    margin-top: .5rem;
}

.aboutUsContent .iconsContainer .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 17rem;
    background-color: #eee;
    border-radius: .5rem;
    padding: 1.5rem 1rem;
}


.aboutUsContent .iconsContainer .icons:hover {
    letter-spacing: .1rem;
    cursor: pointer;
}

.aboutUsContent .iconsContainer .icons span {
    font-size: 1.5rem;
    color: var(--green);
}

.aboutUsContent .iconsContainer .icons .deliveryIcon img {
    width: 27px;
    height: auto;
}

@media(max-width: 1223px) {
    .aboutUsContainer {
        margin-bottom: 2rem;
    }
}